<!DOCTYPE html>
<html>
<head>
    <title>Tiebreaker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container mt-5 mb-5">
        <a href="/scoring" class="btn btn-primary mb-3">Back to Scoring</a>
        <h1 class="text-center">Tiebreaker</h1>
        <div class="row mt-5">
            <div class="col">
                <img src="https://phantom-marca.unidadeditorial.es/513006868c8154e36c728d1b20c331bf/resize/828/f/webp/assets/multimedia/imagenes/2023/01/10/16733663031782.jpg" 
                alt="Tiebreaker"
                style="width: 85%; height: 85%">
            </div>
            <div class="col mt-2 ml-0">
                The next person who was due to serve will start
                the tiebreaker by serving one point to the deuce
                side of the court.<br>
                <br>
                The following two points will then be served by
                the opponent starting on the ad side. <br>
                <br>
                Players switch ends of the court every six points
                played. The first player to win seven points, by
                two, wins the tiebreaker (e.g. 7-5).<br>
                <br>
                The player who served the first point of the
                tiebreaker will be receiving to start the next set.
            </div>
        </div>
        
    </div>
    
    <a href="/scoring/winning-set" class="btn btn-secondary btn-winning-set position-absolute" style="bottom: 10px; left: 50px;">Winning A Set</a>
    <a href="/scoring/winning-match" class="btn btn-secondary btn-winning-match position-absolute" style="bottom: 10px; right: 50px;">Winning The Match</a>

</body>
</html>
