<!DOCTYPE html>
<html>
<head>
    <title>Point Breakdown</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container mt-5 mb-5">
        <a href="/rules" class="btn btn-primary mb-3">Back to Rules</a>
        <h1 class="text-center">Point Breakdown</h1>
        <div class="row mt-5">
            <div class="col">
                <img src="https://cdn-wp.thesportsrush.com/2023/09/7b28d33e-untitled-design-38.jpg?format=auto&w=3840&q=75" 
                alt="Point Breakdown"
                style="width: 90%; height: 90%">
            </div>
            <div class="col mt-5 ml-0">
                After the serve is put into play, the point begins. <br>
                <br>
                The point continues until one player hits the ball out of bounds,
                hits the ball into the net, or fails to return the ball before it bounces twice.
            </div>
        </div>
        
    </div>

    <a href="/rules/starting-point" class="btn btn-secondary btn-starting-point position-absolute" style="bottom: 10px; left: 50px;">Starting The Point</a>
    <a href="/rules/switching-sides" class="btn btn-secondary btn-switching-sides position-absolute" style="bottom: 10px; right: 50px;">Switching Sides</a>
</body>
</html>
