<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Include navbar -->
    {% include 'navbar.html' %}
    
    <div class="container mt-5">
        <h1 class="text-center">Test</h1>
        
        <div class="container mt-4">
            <h2 class="mb-4 text-center">Scoring (Part 3 of 3)</h2>
            <h4 class="mb-3">Given this score:</h4>
            <img src="https://i.ibb.co/YpdwB45/Score-5.jpg"
            alt="Score"
            class="mb-3"
            style="width: 25%; height: 25%">
            <h4>What happens next?</h4>
            
            <form id="quizForm" action="/record_answer/part3-2" method="post">
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="answer" value="Tiebreak">
                    <label class="form-check-label" for="net">
                        A tiebreaker begins
                    </label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="answer" value="Continue">
                    <label class="form-check-label" for="baseline">
                        The set continues until one player wins by two games. (i.e. 8-6)
                    </label>
                </div>
                <button type="button" class="btn btn-primary mt-3" onclick="checkAnswer()">Check Answer</button>
                <div id="result" class="mt-4"></div>
            </form>
            <div class="mt-5">
                <button class="btn btn-secondary btn-more-review" id="moreReview" onclick="window.location.href='/scoring'">Need More Review? Click Here</button>
            </div>         
        </div>
        <button class="btn btn-primary btn-next position-absolute mb-5" id="next" onclick="window.location.href='/test/part3-3'" style="bottom: -150px; right: 100px;" disabled>Next</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function checkAnswer() {
            // Disable form elements
            //$("input[name='answer']").prop("disabled", true);
            //$("button[type='button']").prop("disabled", true);

            let selectedAnswer = $("input[name='answer']:checked").val();
            let correctAnswer = "Tiebreak";

            if (selectedAnswer === correctAnswer) {
                $("#result").html('<p class="text-success">Correct!</p>');
                $("#next").prop("disabled", false);
            } else {
                $("#result").html('<p class="text-danger">Incorrect The correct answer is: A tiebreaker begins.</p>');
                $("#next").prop("disabled", false);
            }

            // Submit the form using AJAX
            $.ajax({
                url: '/record_answer/part3-2',
                type: 'POST',
                data: $('#quizForm').serialize(),
                success: function(response) {
                    console.log(response); // Logging the response
                },
                error: function(error) {
                    console.log(error); // Logging any errors
                }
            });
        }
    </script>
</body>
</html>
